body {
    background-color: darkorange;
}

h1{
    background-color: white;
}

h2{
    background-color: lightblue;
}

ul{
    margin-left: 1rem;
    background-color: lightblue;
    border: 2px solid black;
}